<!DOCTYPE html>
<html>
    <head>
        <!-- 页面meta -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>移通健康</title>
        <meta name="description" content="移通健康">
        <meta name="keywords" content="移通健康">
        <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
        <!-- 引入样式 -->
        <link rel="stylesheet" href="../plugins/elementui/index.css">
        <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min(1).css">
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body class="hold-transition">
        <div id="app">
            <div class="content-header">
                <h1>预约管理<small>预约列表</small></h1>
                <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb">
                    <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
                    <el-breadcrumb-item>预约管理</el-breadcrumb-item>
                    <el-breadcrumb-item>预约列表</el-breadcrumb-item>
                </el-breadcrumb>
            </div>
            <div class="app-container">
                <div class="box">
                    <div class="filter-container">
                        <el-input placeholder="预约ID/会员ID" v-model="pagination.queryString" style="width: 200px;" class="filter-item"></el-input>
                        <el-button @click="_findPage()" class="dalfBut">查询</el-button>
                        <el-button type="primary" class="butT" @click="handleCreate()">新建</el-button>
                    </div>
                    <el-table size="small" current-row-key="id" :data="dataList" stripe highlight-current-row>
                        <el-table-column type="index" align="center" label="序号"></el-table-column>
                        <el-table-column prop="id" label="预约ID" align="center"></el-table-column>
                        <el-table-column prop="member_id" label="会员ID" align="center"></el-table-column>
                        <el-table-column prop="orderDate" label="预约时间" align="center" :formatter="formatterTime"></el-table-column>
                        <el-table-column prop="orderType" label="预约类型" align="center"></el-table-column>
                        <el-table-column prop="orderStatus" label="预约状态" align="center"></el-table-column>
                        <el-table-column prop="setmeal_id" label="预约套餐ID" align="center"></el-table-column>

                        <el-table-column label="操作" align="center">
                            <template slot-scope="scope">
                                <el-button type="primary" size="mini" @click="handleUpdate(scope.row)">编辑</el-button>
                                <el-button size="mini" type="danger" @click="handleDelete(scope.row)">删除</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                    <div class="pagination-container">
                        <el-pagination
                            class="pagiantion"
                            @current-change="handleCurrentChange"
                            :current-page="pagination.currentPage"
                            :page-size="pagination.pageSize"
                            layout="total, prev, pager, next, jumper"
                            :total="pagination.total">
                        </el-pagination>
                    </div>
                    <!-- 新增标签弹层 -->
                    <div class="add-form">
                        <el-dialog title="新增预约项" :visible.sync="dialogFormVisible">
                            <el-form ref="dataAddForm" :model="formData" :rules="rules" label-position="right" label-width="100px">
                                <el-row>
                                    <el-col :span="12">
                                        <el-form-item label="预约ID" prop="id">
                                            <el-input v-model="formData.id"/>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="12">
                                        <el-form-item label="会员ID" prop="member_id">
                                            <el-input v-model="formData.member_id"/>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col :span="12">
                                        <el-form-item label="预约时间">
                                            <el-date-picker
                                                    v-model="formData.orderTime"
                                                    value-format="yyyy-MM-dd"
                                                    type="date"
                                                    placeholder="选择日期">
                                            </el-date-picker>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="12">
                                        <el-form-item label="预约类型">
                                            <el-select v-model="formData.orderType">
                                                <el-option label="微信预约" value="微信预约"></el-option>
                                                <el-option label="电话预约" value="电话预约"></el-option>
                                            </el-select>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col :span="12">
                                        <el-form-item label="套餐ID" prop="setmeal_id">
                                            <el-input v-model="formData.setmeal_id"/>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="12">
                                        <el-form-item label="预约状态">
                                            <el-select v-model="formData.orderStatus">
<!--                                                <el-option label="已到诊" value="已到诊"></el-option>-->
                                                <el-option label="未到诊" value="未到诊"></el-option>
                                            </el-select>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                            </el-form>
                            <div slot="footer" class="dialog-footer">
                                <el-button @click="dialogFormVisible = false">取消</el-button>
                                <el-button type="primary" @click="handleAdd()">确定</el-button>
                            </div>
                        </el-dialog>
                    </div>
                    <!-- 编辑标签弹层 -->
                    <div class="add-form">
                        <el-dialog title="编辑预约项" :visible.sync="dialogFormVisible4Edit">
                            <el-form ref="dataEditForm" :model="formData" :rules="rules" label-position="right" label-width="100px">

                                <el-row>
                                    <el-col :span="12">
                                        <el-form-item label="预约状态">
                                            <el-select v-model="formData.orderStatus">
                                                <el-option label="已到诊" value="已到诊"></el-option>
                                                <el-option label="未到诊" value="未到诊"></el-option>
                                            </el-select>

                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="12">
                                        <el-form-item label="预约时间">
                                            <el-date-picker
                                                    v-model="formData.orderDate"
                                                    type="date"
                                                    placeholder="选择日期">
                                            </el-date-picker>
                                        </el-form-item>
                                    </el-col>
                                </el-row>

                            </el-form>
                            <div slot="footer" class="dialog-footer">
                                <el-button @click="dialogFormVisible4Edit = false">取消</el-button>
                                <el-button type="primary" @click="handleEdit()">确定</el-button>
                            </div>
                        </el-dialog>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <!-- 引入组件库 -->
    <script src="../js/vue.js"></script>
    <script src="../plugins/elementui/index.js"></script>
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script src="../js/axios-0.18.0.js"></script>
    <script>
        var vue = new Vue({
            el: '#app',
            data:{
                pagination: {//分页相关模型数据
					  currentPage: 1,//当前页码
					  pageSize:10,//每页显示的记录数
					  total:0,//总记录数
					  queryString:null//查询条件
				},
				dataList: [],//当前页要展示的分页列表数据
                formData: {},//表单数据
                dialogFormVisible: false,//增加表单是否可见
                dialogFormVisible4Edit:false,//编辑表单是否可见
                rules: {//校验规则
                    code: [{ required: true, message: '项目编码为必填项', trigger: 'blur' }],
                    name: [{ required: true, message: '项目名称为必填项', trigger: 'blur' }]
                }
            },
            //钩子函数，VUE对象初始化完成后自动执行
            created() {
                this.findPage();//VUE对象初始化完成后，调用分页查询方法

            },
            methods: {
                formatterTime(row,column){
                    let data = row[column.property]
                    return  /\d{4}-\d{1,2}-\d{1,2}/g.exec(data)
                },
                disabledDate(time){

                    return time.getTime() > Date.now();
                },
                showMessage(r) {
                    if(r == 'Error: Request failed with status code 403'){
                    //权限不足
                    this.$message.error('无访问权限');
                    return;
                }else{
                    this.$message.error('未知错误');
                    return;
                }

                },
                //编辑
                handleEdit() {
                    this.$refs['dataEditForm'].validate((valid)=>{
                        if (valid){
                            axios.post("/orderlist/edit.do",this.formData).then((res=>{
                                if (res.data.flag){
                                    this.$message({
                                        type:'success',
                                        message:res.data.message
                                    });
                                }else {
                                    this.$message.error(res.data.message);
                                }
                            })).finally(()=>{
                                this.findPage();
                                this.dialogFormVisible4Edit = false;
                            })
                        }
                    })
                },
                //添加
                handleAdd () {

                    //表单校验
                    this.$refs['dataAddForm'].validate((valid)=>{
                        if (valid){
                            //校验通过
                            axios.post("/orderlist/add.do",this.formData).then((response)=>{
                                this.dialogFormVisible=false;

                                if (response.data.flag){
                                    this.$message({
                                        message:response.data.message,
                                        type: 'success'
                                    });
                                }else{
                                    this.$message.error(response.data.message);
                                }
                            }).finally(()=>{
                                this.resetForm();
                                this.findPage();
                            });
                        }
                        else {
                            //校验不通过
                            this.$message.error("表单数据校验失败,请重新输入！");
                            return false;

                        }
                    })
                },
                _findPage(){
                    this.pagination.currentPage = 1;
                    this.findPage();
                },
                //分页查询
                findPage() {

                    //ajax请求，提交分页相关请求参数（页码、每页显示记录数、查询条件）
                    var param={
                        currentPage:this.pagination.currentPage,
                        pageSize: this.pagination.pageSize,
                        queryString: this.pagination.queryString
                    }
                    axios.post("/orderlist/findPage.do",param).then((res)=>{
                        this.pagination.total = res.data.total;
                        this.dataList = res.data.rows;
                    })
                },
                // 重置表单
                resetForm() {
                    this.formData={}; //输入框重置数据
                },
                // 弹出添加窗口
                handleCreate() {
                    this.dialogFormVisible=true;
                },
                // 弹出编辑窗口
                handleUpdate(row) {
                    this.dialogFormVisible4Edit = true;
                    axios.get("/orderlist/findById.do?id="+row.id).then((res=>{
                        if (res.data.flag){
                            this.formData = res.data.data;
                        }else{
                            this.$message.error(res.data.message);
                        }
                    }))
                },
                //切换页码
                handleCurrentChange(currentPage) {
                    this.pagination.currentPage = currentPage;
                    this.findPage();
                },
                // 删除
                handleDelete(row) {
                    this.$confirm("确定删除当前选中记录吗?","提示",{
                        type:'waring'
                    }).then(()=>{
                        axios.get("/orderlist/delete.do?id="+row.id).then((res)=>{
                            if (res.data.flag){
                                this.$message({
                                    type:'success',
                                    message:res.data.message

                                });
                                this.findPage();
                            }else {
                                this.$message.error(res.data.message);
                            }
                        }).cache((r)=>{
                            this.showMessage(r);
                        });

                    }).catch(()=>{
                        this.$message({
                            type:'info',
                            message:'操作已取消'
                        })

                    });
                }
            }
        })
    </script>
</html>